@import '_palette';

$color1: #232946;
$color2: #fffffe;
$color3: #b8c1ec;
$color4: #eebbc3;
$color5: #d4d8f0;

$timetable-border: $color3;

.paletteA {
    @include palette($color1, $color1, $color2, $color2, $color3, $color4, $color1, $color4, $color1);
}

.paletteB {
    @include palette($color1, $color2, $color1, $color1, $color1, $color4, $color1, $color4, $color1);
}

.paletteC {
    @include palette($color5, $color2, $color1, $color1, $color1, $color4, $color1, $color4, $color1);
}