@import '_palette';

$color1: #fffffe;
$color2: #272343;
$color3: #2d334a;
$color4: #ffd803;
$color5: #bae8e8;

// @mixin palette($background-section, $background-article, $title, $paragraph, $secondary, $secondary-text, $tertiary, $tertiary-text)

.paletteA {
    @include palette($color5, $color5, $color2, $color2, $color3, $color4, $color2, $color4, $color2);
}

.paletteB {
    @include palette($color5, $color1, $color2, $color2, $color3, $color4, $color2, $color4, $color2);
}

.paletteC {
    @include palette($color1, $color2, $color5, $color5, $color1, $color4, $color2, $color4, $color2);
}
