@import "../node_modules/bootstrap/scss/bootstrap";
@import "_variables";

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.2rem;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    header {
        h1 {
            font-weight: 900;
        }
    }
    &.vertical {
        & > article:not(:last-child) {
            --bs-gutter-x: 1.5rem;
            margin-bottom: var(--bs-gutter-x);
        }
    }
}

article {
    header {
        h1 {
            font-weight: 900;
        }
    }
}

figure {
    margin: 1em 0;
    img {
        max-width: 100%;
        height: auto;
    }
}

a {
    text-decoration: none;
}

.container {
    padding-top: 3rem;
}

div.button {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    & > a {
        font-weight: 700;
        padding: 1rem;
        display: inline-flex;
    }
}

img.preview {
    max-height: 200px;
}

.article {
    @extend .card;
    @extend .card-body;
    border: 0;

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    & > * {
        padding: 1rem;
        height: auto;
        h2 {
            width: 100%;
            font-weight: 700;
        }
        article {
            height: 100%;
        }
    }
    &.c-4 > * {
        @extend .col-md-3;
    }
    &.c-3 > * {
        @extend .col-md-4;
    }
}

.amount {
    margin: 0 5px;
    padding: 5px;
    font-weight: 900;
    padding-top: 3px;
    margin-left: 0px;
    border-radius: 0.25rem;
}

.schedule,
.updated,
.budget,
.sources {
    padding-bottom: 1em;
}

.schedule-title {
    font-weight: bold;
}

.point {
    h2 {
        display: inline-block;
    }
    .point-mark {
        width: 20px;
        min-width: 10px;
        display: inline-block;
        height: 20px;
        border-radius: 5px;
        left: -10px;
        position: relative;
        top: 3px;
    }

    .point-date {
        padding-right: 10px;
    }

    .timeline-body {
        margin-left: 1em;
    }
}

.gallery {
    display: flex;
}

.two-in-row {
    width: 50%;
}

.xxx {
    border-left: solid 10px $timetable-border;
    // border-top: solid 2px $timetable-border;
    padding: 0;
    margin: 10px;
    margin-left: 0;
    background-image: linear-gradient(to right bottom, rgba(238, 187, 195, 0.05), rgba(238, 187, 195, 0));
}

.xxx.success {
    border-left: solid 10px green;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(0, 255, 0, 0.1));

    .description {
        padding-left: 1rem;
        color: green;
    }
}

.xxx.inwork {
    border-left: solid 10px orange;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 166, 0, 0.1));
    
    .description {
        padding-left: 1rem;
        color: orange;
    }
}

.xxx > .header {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

}

.xxx .date {
    font-size: 1rem;
}

.xxx .dateExpected {
    font-style: italic;
}

.xxx > .xxx {
    margin-left: 10px;
    background-image: linear-gradient(to right bottom, rgba(238, 187, 195, 0), rgba(238, 187, 195, 0));
}