@import "../node_modules/bootstrap/scss/bootstrap";
@import "_variables";

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.2rem;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    header {
        h1 {
            // font-weight: 900;
        }
    }
    &.vertical {
        article:not(:last-child) {
            --bs-gutter-x: 1.5rem;
            margin-top: var(--bs-gutter-x);
        }
    }
}

article {
    header {
        h1 {
            font-weight: 900;
        }
    }
}

figure {
    margin: 1em 0;
    img {
        max-width: 100%;
        height: auto;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
}

.container {
    padding-top: 3rem;
}

div.button {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    & > a {
        font-weight: 700;
        padding: 1rem;
        display: inline-flex;
    }
}

// article a section>article rozdelit by bolo jasne co je zobrazene v liste articlov a co je samostatny articel
// potom mozem nastavit article shadow len na article v zozname (section)

section article {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.05), 0 3px 10px 0 rgba(0,0,0,0.05);
}

img.preview {
    max-height: 200px;
}

.article {
    @extend .card;
    @extend .card-body;
    border: 0;

    // header {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: flex-start;
    // }
}

.logo {
    h1 {
        font-size: 3.0rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: 900 !important;
    }
}

.pt-1 {
    padding-top: 1rem;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    & > * {
        padding: 1rem;
        height: auto;
        h2 {
            width: 100%;
            font-weight: 700;
        }
        article {
            height: 100%;
        }
    }
    &.c-4 > * {
        @extend .col-md-3;
    }
    &.c-3 > * {
        @extend .col-md-4;
    }
}

.amount {
    margin: 0 5px;
    padding: 5px;
    font-weight: 900;
    padding-top: 3px;
    margin-left: 0px;
    border-radius: 0.25rem;
}

.schedule,
.updated,
.budget,
.sources {
    padding-bottom: 1em;
}

.schedule-title {
    font-weight: bold;
}

.point {
    h2 {
        display: inline-block;
    }
    .point-mark {
        width: 20px;
        min-width: 10px;
        display: inline-block;
        height: 20px;
        border-radius: 5px;
        left: -10px;
        position: relative;
        top: 3px;
    }

    .point-date {
        padding-right: 10px;
    }

    .timeline-body {
        margin-left: 1em;
    }
}

.gallery {
    display: flex;
}

.two-in-row {
    width: 50%;
}

// .box-shadow {
//     box-shadow: 0 3px 10px 0 rgba(0,0,0,0.05), 0 3px 10px 0 rgba(0,0,0,0.05);
// }

.palleteC {
    margin-top: 1rem;
}

.timetable {
    padding-bottom: 2rem;
    .timeline {
        padding: 0.3rem;
        margin: 0.3rem;
    }
    
}

.timeline {
    border-left: solid 10px $timetable-border;
    // border-top: solid 2px $timetable-border;
    // padding: 0;
    // margin-top: 2rem;
    // margin-left: 0;
    // background-image: linear-gradient(to left top, rgba($timetable-border, 0) 50%, rgba($timetable-border, 0.1));
    // box-shadow: 0 3px 10px 0 rgba(0,0,0,0.05), 0 3px 10px 0 rgba(0,0,0,0.05);
    // padding-left: 1rem;
    // padding-right: 1rem;

    .description {
        font-weight: 700;
    }

    .subheader {
        font-size: 1.1rem;
        // font-weight: 600;
        padding-bottom: 1rem;
    }

    h3 {
        font-weight: 600;
    }
}



.timeline .header {
    display: flex;
    justify-content: space-between;

}

.timeline .date {
    font-size: 1rem;
}

.timeline .dateExpected {
    font-style: italic;
}

.timeline .timeline-sub {
    .header {
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.timeline .timeline-wrap-sub {
    font-size: 1rem;
    margin-left: 1rem;
    // padding-top: 0rem;
    // padding-bottom: 1rem;
    // padding-left: 1rem;
}