---
layout: layouts/home.njk

---
<div class="paletteB">
  <section class="section">
    <h1>Investičný plán {{year}}</h1>
    <span class="muted">aktualizované {{ updatedDate | date}}</span>
  </section>
</div>

{% set allMyBudget = collections.budgetCollection | budgetFilterByYear(year) | budgetFilterGroupByStatus %}
<div class="paletteB">

  {% set success = allMyBudget.success %}
  {% if success.list.length > 0 %}
    <section class="section">
      <div class="row status-text success">
        <div class="col-md-2">
      Zrealizované <i class="far fa-check-circle"></i>
        </div>
        <div class="col-md-2">
          {{success.list.length | projectFilterProject}}
        </div>
        <div class="col-md-8">
      Výdavky: {{success.amountReal | value}}€
      </div>
      </div>
      {% for budget in success.list %}
        {% include "budget-box.njk" %}
      {% endfor %}
    </section>
  {% endif %}

  {% set postpone = allMyBudget.postpone %}
  {% if postpone.list.length > 0 %}
    <section class="section">
      <div class="row status-text postpone">
        <div class="col-md-3">
      Odložené <i class="far fa-arrow-alt-circle-right"></i>
        </div>
        <div class="col-md-2">
          {{postpone.list.length | projectFilterProject}}
        </div>
      </div>
      {% for budget in postpone.list %}
        {% include "budget-box.njk" %}
      {% endfor %}
    </section>
  {% endif %}

  {% set error = allMyBudget.error %}
  {% if error.list.length > 0 %}
    <section class="section">
      <div class="row status-text error">
        <div class="col-md-3">
      Zrušené <i class="far fa-stop-circle"></i>
        </div>
        <div class="col-md-2">
          {{error.list.length | projectFilterProject}}
        </div>
      </div>
      {% for budget in error.list %}
        {% include "budget-box.njk" %}
      {% endfor %}
    </section>
  {% endif %}

  {% set inwork = allMyBudget.inwork %}
  {% if inwork.list.length > 0 %}
    <section class="section">
      <div class="row status-text inwork">
        <div class="col-md-2">
          Realizuje sa <i class="far fa-play-circle"></i>
        </div>
        <div class="col-md-2">
          {{inwork.list.length | projectFilterProject}}
        </div>
        <div class="col-md-4">
      Aktuálne výdavky: {{inwork.amountReal | value}}€
      </div>
        <div class="col-md-4">
      Plánované výdavky: {{inwork.amountUpdated | value}}€
      </div>
      </div>
      {% for budget in inwork.list %}
        {% include "budget-box.njk" %}
      {% endfor %}
    </section>
  {% endif %}
</div>