---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="paletteA">
    <article class="container article">
        <header>
            <h1>{{ title }}</h1>
        </header>

        <div class="updated">
            {% if date %}
                <time datetime="{{ date }}">
                    aktualizované: {{ date | postDate }}
                </time>
            {% endif %}
        </div>

        {%- if amount or amountAll %}
            <div class="budget">
                <span class="amount">{{ amount }}€</span> z rozpočtu Petržalky
            {% if amountAll %}
                    <span class="amount">{{ amountAll }}€</span> celková cena projektu
            {% endif %}
            </div>
        {%- endif %}

        {% if execution %}
            <div class="timetable">
                {% for sch in execution %}
                    <div class="timeline {{ sch.status }}">
                        <div class="header">
                            <span class="title">{{ sch.title }}</span>
                            <span class="description">{{sch.description}}</span>
                        </div>
                        <div class="timeline-wrap-sub">
                            {% for sub in sch.sub %}
                                <div class="timeline-sub {{ sub.status }}">
                                    <div class="header">
                                        {% if sub.source %}
                                            <a href="{{ sub.source }}" target="blank">
                                                <span class="title">{{ sub.title }}</span><img class="source" src="/img/external-link.svg" ></a>
                                        {% else %}
                                            <span class="title">{{ sub.title }}</span>
                                        {% endif %}
                                        <span class="date">
                                            {% if sub.startExpected %}
                                                <span class="dateExpected">{{ sub.startExpected }}</span>
                                            {% endif %}
                                            {% if sub.startReal %}
                                                <span class="dateReal">{{ sub.startReal | postDate }}</span>
                                            {% endif %}
                                            {% if sub.endExpected %}
                                                <span class="dateExpected">- {{ sub.endExpected }}</span>
                                            {% endif %}
                                            {% if sub.endReal %}
                                                <span class="dateReal">- {{ sub.endReal | postDate }}</span>
                                            {% endif %}
                                            <span class="description">{{sub.description}}</span>
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if budgetRef %}
            {% set budget = collections.budgetCollection | budgetFilterById(budgetRef) %}
            {% include "budget-box.njk" %}
        {% endif %}

        {% if gallery %}
            <div class="gallery">
                {% for image in gallery %}
                    <figure>
                        <a href="{{image.link}}">
                            <img src="{{image.link}}">
                        </a>
                        {{image.title}}
                    </figure>
                {% endfor %}
            </div>
        {% endif %}

        <div class="content">
            {{ content | safe }}
        </div>

        {% if source %}
            <div class="sources">
          zdroj: <a href="{{ source }}">{{ source }}</a>
            </div>
        {% endif %}

        <p>
            <a href="{{ '/' | url }}">← Home</a>
        </p>
    </article>
</div>

{{ end }}