---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="paletteA">
    <section class="section">
        <header>
            <h1>{{ title }}</h1>
        </header>

        <div class="muted">
            {% if date %}
                <time datetime="{{ date }}">
                    aktualizované: {{ date | postDate }}
                </time>
            {% endif %}
        </div>
    </section>
    <!-- TODO: remove  amount or amountAll -->
    {%- if amount or amountAll %}
        <section class="section">
            <div class="budget">
                <span class="amount">{{ amount }}€</span> z rozpočtu Petržalky
            {% if amountAll %}
                    <span class="amount">{{ amountAll }}€</span> celková cena projektu
            {% endif %}
            </div>
        </section>
    {%- endif %}

    {% if execution %}
        <section class="section">
            <h2>Časová os</h2>
            {% for sch in execution %}
                {% include "project-execution-box.njk" %}
            {% endfor %}
        </section>
    {% endif %}

    {% if budgetRef %}
        <section class="section">
            <h2>Rozpočet</h2>
            {% set budget = collections.budgetCollection | budgetFilterById(budgetRef) %}
            {% include "budget-box.njk" %}
        </section>
    {% endif %}

    <section class="section">
        {% if gallery %}
            <div class="gallery">
                {% for image in gallery %}
                    <figure>
                        <a href="{{image.link}}">
                            <img src="{{image.link}}">
                        </a>
                        {{image.title}}
                    </figure>
                {% endfor %}
            </div>
        {% endif %}

        <div class="content">
            {{ content | safe }}
        </div>

        {% if source %}
            <div class="sources">
          zdroj: <a href="{{ source }}">{{ source }}</a>
            </div>
        {% endif %}

        <p>
            <a href="{{ '/' | url }}">← Home</a>
        </p>
    </section>
</div>
{{ end }}