<article class="article budget {{budget.statuses[0].status}}">
        <div class="row">
          <div class="col-md-9">
            <header>
              <h3>
                <b>{{ budget.title }}</b>
              </h3>
            </header>
          </div>
          <div class="col-md-3 text-right">
                rozpočet <span style="margin-left: 0.5rem" class="amount">{{budget.amount | value}}€</span>
          </div>
        </div>
        {# <div class="row">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar bg-{{budget.statuses[0].status}}" role="progressbar" style="width: {{budget.statuses[0].usage}}%" aria-valuenow="{{budget.statuses[0].amount}}" aria-valuemin="0" aria-valuemax="{{budget.amount}}"></div>
            </div>
          </div>
        </div> #}

        {% if budget.statuses[0].status === 'success' %}
        <div class="row">
          <div class="col-md-6">
            <small>Aktuálne výdavky</small><span class="amount" style="margin-left: 0.5rem">{{budget.statuses[0].realAmount | value}}€</span>
          </div>
          <div class="col-md-6 text-right text-success">
            <div>Zrealizované {# <i class="fas fa-check-circle text-success"></i> #}</div>
          </div>
        </div>
        {% endif %} 


        {% if budget.statuses[0].status === 'inwork' %}
        <div class="row">
          <div class="col-md-6">
            <small>Aktuálne výdavky</small><span class="amount" style="margin-left: 0.5rem">{{budget.statuses[0].realAmount | value}}€</span>
          </div>
          <div class="col-md-6 text-right">
            <small>Odhadované výdavky</small><span class="amount" style="margin-left: 0.5rem">{{budget.statuses[0].amount | value}}€</span>
              {% if budget.statuses[0].amount > budget.amount %}
              <span class="text-error"><i class="fas fa-angle-double-up"></i></span>
              {% endif %}  
          </div>
        </div>
        {% endif %} 
        

        {% if budget.statuses[0].status === 'postpone' %}
        <div class="row">
          <div class="col-md-10">
            {{budget.statuses[0].comment}}
          </div>
          <div class="col-md-2 text-error text-right">
            <div>Odložené {# <i class="fas fa-ban"></i> #}</div>
          </div>
        </div>
        {% endif %} 

        
        {% if budget.statuses[0].status === 'error' %}
        <div class="row">
          <div class="col-md-10">
            {{budget.statuses[0].comment}}
          </div>
          <div class="col-md-2 text-error text-right">
            <div>Zrušené {# <i class="fas fa-ban"></i> #}</div>
          </div>
        </div>
        {% endif %} 

      </article>