---
layout: layouts/home.njk
eleventyNavigation:
  key: Rozpočet
  order: 4
---
<div class="paletteB">
  <section class="container vertical">
    {% for budget in collections.budget %}
      {% include "budgetslist.njk" %}
    {% endfor %}
  </section>
</div>