---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="paletteA">
  <section class="container vertical">
    <article class="">
      {% for sch in collections.allMyContent | reverse %}

        <div class="xxx {{ sch.status }}">
          <div class="header">
            <header class="title">
              <a href="{{ sch.page.url }}">
                <h3>{{ sch.page.data.title }}</h3>
              </a>
              {{ sch.title }}
            </header>
            <span class="date">
              {% if sch.startExpected %}
                <span class="dateExpected">{{ sch.startExpected }}</span>
              {% endif %}
              {% if sch.startReal %}
                <span class="dateReal">{{ sch.startReal }}</span>
              {% endif %}
              {% if sch.endExpected %}
                <span class="dateExpected">- {{ sch.endExpected }}</span>
              {% endif %}
              {% if sch.endReal %}
                <span class="dateReal">- {{ sch.endReal }}</span>
              {% endif %}
              <span class="description">{{sch.description}}</span>
            </span>
          </div>
          {% for sub in sch.sub %}
            <div class="xxx {{ sub.status }}">
              <div class="header">
                <span class="title">{{ sub.title }}</span>
                <span class="date">
                  {% if sub.startExpected %}
                    <span class="dateExpected">{{ sub.startExpected }}</span>
                  {% endif %}
                  {% if sub.startReal %}
                    <span class="dateReal">{{ sub.startReal }}</span>
                  {% endif %}
                  {% if sub.endExpected %}
                    <span class="dateExpected">- {{ sub.endExpected }}</span>
                  {% endif %}
                  {% if sub.endReal %}
                    <span class="dateReal">- {{ sub.endReal }}</span>
                  {% endif %}
                  <span class="description">{{sub.description}}</span>
                </span>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </article>
  </section>
</div>
{# <div class="paletteA">
  <section class="container vertical">
    {% for post in collections.projekt | reverse | head(4) %}
      {% include "postslist.njk" %}
    {% endfor %}
  </section>
  <div class="button">
    <a href="projects/">
      Viac
    </a>
  </div>
</div> #}

<div class="paletteC">
  <section class="container">
    <header>
      <h1 class="container-title">Športové granty</h1>
    </header>
    <div class="flex-wrap c-4">
      {% for grantPost in collections.sgrant | head(1) %}
        {% set grants = grantPost.data.list | head(4) %}
        {% for grant in grants %}
          {% include "grantslist.njk" %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
</div>
<div class="paletteC">
  <section class="container">
    <header>
      <h1 class="container-title">Dotácie</h1>
    </header>
    <div class="flex-wrap c-4">
      {% for grantPost in collections.ogrant | head(1) %}
        {% set grants = grantPost.data.list | head(4) %}
        {% for grant in grants %}
          {% include "grantslist.njk" %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
  <div class="button">
    <a href="grants">Viac</a>
  </div>
</div>

<div class="paletteB">
  <section class="container vertical">
    {% for budget in collections.main %}
      {% include "budgetslist.njk" %}
    {% endfor %}
  </section>
  <div class="button">
    <a href="budget/">Viac</a>
  </div>
</div>