<div>
  <article class="article text-center">
    <header>
      <h2>{{ grant.title }}</h2>
    </header>
    <p>
      <span class="amount">{{ grant.amount }}€</span>
    </p>
    <p>
      {{ grant.detail }}
    </p>
  </article>
</div> 