---
layout: layouts/home.njk
eleventyNavigation:
  key: Časová os
  order: 2
---
<div class="paletteA">
  <section class="section">
    <header>
      <h1>Časová os projektov</h1>
    </header>
    {% for sch in collections.projectCollection | reverse %}
      {% set schUrl = sch.page.url %}
      {% set schTitle = sch.page.data.title %}
      {% include "project-execution-box.njk" %}
    {% endfor %}
  </section>
</div>