---
layout: layouts/home.njk
eleventyNavigation:
  key: Granty
  order: 3
---
<div class="paletteC">
  <section class="section">
    <header>
      <h1>Športové granty</h1>
    </header>
    <div class="row">
      {% for grant in collections.grantSportCollection %}
      {% include "grant-box.njk" %}
      {% endfor %}
  </section>
</div>

<div class="paletteC">
  <section class="section">
    <header>
      <h1>Dotácie</h1>
    </header>
    <div class="row">
      {% for grant in collections.grantOZCollection %}
      {% include "grant-box.njk" %}
      {% endfor %}
    </div>
  </section>
</div>