---
layout: layouts/home.njk
eleventyNavigation:
  key: Granty
  order: 3
---
<div class="paletteC">
  <section class="section">
    <header>
      <h1>Športové granty</h1>
    </header>
    <div class="row padding-bottom">
      {% for grantPost in collections.sgrant | head(1) %}
        {% set grants = grantPost.data.list %}
        {% for grant in grants %}
        {% include "grant-box.njk" %}
       {% endfor %}
      {% endfor %}
    </div>
  </section>
</div>

<div class="paletteC">
  <section class="section">
    <header>
      <h1>Dotácie</h1>
    </header>
    <div class="row">
      {% for grantPost in collections.ogrant | head(1) %}
        {% set grants = grantPost.data.list %}
        {% for grant in grants %}
        {% include "grant-box.njk" %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
</div>