---
layout: layouts/home.njk
eleventyNavigation:
  key: Granty
  order: 3
---
<div class="paletteC">
  <section class="container">
    <header>
      <h1 class="container-title">Športové granty</h1>
    </header>
    <div class="grants-row c-4">
      {% for grant in collections.grantSportCollection %}
        {% include "grantslist.njk" %}
      {% endfor %}
    </div>
  </section>
</div>

<div class="paletteC">
  <section class="container">
    <header>
      <h1 class="container-title">Dotácie</h1>
    </header>
    <div class="grants-row c-4">
      {% for grant in collections.grantOZCollection %}
        {% include "grantslist.njk" %}
      {% endfor %}
    </div>
  </section>
</div>