---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="paletteA">
  <section class="section">
    <header>
      <h1>Časová os projektov</h1>
    </header>
    {% for sch in collections.projectCollection | reverse | head(5) %}
      {% set schUrl = sch.page.url %}
      {% set schTitle = sch.page.data.title %}
      {% include "project-execution-box.njk" %}
    {% endfor %}
  </section>
  <section class="section">
    <div class="button">
      <a href="casova_os/">Viac</a>
    </div>
  </section>
</div>

<div class="paletteC">
  <section class="section">
    <header>
      <h1>Investičný plán 2021</h1>
    </header>
    <div>
      {% set allMyBudget = collections.budgetCollection | budgetFilterByYear(2021) | budgetFilterGroupByStatus %}
      {% set all = allMyBudget.all %}
      {% for budget in all.list | head(5) %}
        {% include "budget-box.njk" %}
      {% endfor %}
    </div>
  </section>
  <section class="section">
    <div class="button">
      <a href="investicny_plan/2021">Viac</a>
    </div>
  </section>
</div>

<div class="paletteC">
  <section class="section">
    <header>
      <h1>Športové granty</h1>
    </header>
    <div class="row">
        {% for grant in collections.grantSportCollection | head(4) %}
          {% include "grant-box.njk" %}
      {% endfor %}
    </div>
  </section>
</div>
<div class="paletteC">
  <section class="section">
    <header>
      <h1>Dotácie</h1>
    </header>
    <div class="row">
        {% for grant in collections.grantOZCollection | head(4) %}
          {% include "grant-box.njk" %}
        {% endfor %}
    </div>
  </section>
  <section class="section">
    <div class="button">
      <a href="grants">Viac</a>
    </div>
  </section>
</div>