---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="paletteA">
  <section class="container vertical">
    <header>
      <h1 class="container-title">Developerské projekty</h1>
    </header>
    {% for sch in collections.projectCollection | reverse | head(5) %}
      {% include "project-execution-box.njk" %}
    {% endfor %}
  </section>
  <div class="button">
    <a href="projects/">Viac</a>
  </div>
</div>

<div class="paletteC">
  <section class="container vertical">
    <header>
      <h1 class="container-title">Investičný plán 2021</h1>
    </header>
    <div class="">
      {% set allMyBudget = collections.budgetCollection | budgetFilterByYear(2021) | budgetFilterGroupByStatus %}
      {% set all = allMyBudget.all %}
      {% for budget in all.list | head(5) %}
        {% include "budget-box.njk" %}
      {% endfor %}
    </div>
  </section>
  <div class="button">
    <a href="investicny_plan/2021">Viac</a>
  </div>
</div>

<div class="paletteC">
  <section class="container">
    <header>
      <h1 class="container-title">Športové granty</h1>
    </header>
    <div class="grants-row c-4">
      {% for grantPost in collections.sgrant | head(1) %}
        {% set grants = grantPost.data.list | head(4) %}
        {% for grant in grants %}
          {% include "grant-box.njk" %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
</div>
<div class="paletteC">
  <section class="container">
    <header>
      <h1 class="container-title">Dotácie</h1>
    </header>
    <div class="grants-row c-4">
      {% for grantPost in collections.ogrant | head(1) %}
        {% set grants = grantPost.data.list | head(4) %}
        {% for grant in grants %}
          {% include "grant-box.njk" %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
  <div class="button">
    <a href="grants">Viac</a>
  </div>
</div>