---
layout: layouts/home.njk
eleventyNavigation:
  key: Inv. Plán
  order: 4
---
<div class="paletteB">
  <section class="section">
    <h1>Investičné plány</h1>

    {% for page in collections.budget2 | budgetFilterSortByYear %}
      {% set allMyBudget = collections.budgetCollection | budgetFilterByYear(page.data.year) | budgetFilterGroupByStatus %}
      <article class="budget-summary box {{ "inwork" if page.data.year == "2021" else "success" }}">
        <div class="row">
          <div class="col-md-9">
                <h2>
                  <a href="{{ page.url | url }}">Rok {{ page.data.year }}</a>
                </h2>
          </div>
          <div class="col-md-3 text-right">
                <span class="muted">rozpočet</span>
                <span class="amount">{{allMyBudget.all.amountOriginal | value}}€</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-success">
            <div>Zrealizované</div>
          </div>
          <div class="col-md-4">
            {{allMyBudget.success.list.length | projectFilterProject}}
          </div>
          <div class="col-md-4 text-right">
            Aktuálne výdavky
            <span class="amount">{{allMyBudget.success.amountReal | value}}€</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-inwork">
            <div>Realizuje sa</div>
          </div>
          <div class="col-md-4">
            {{allMyBudget.inwork.list.length | projectFilterProject}}
          </div>
          <div class="col-md-4 text-right">
            Aktuálne výdavky
            <span class="amount">{{allMyBudget.inwork.amountReal | value}}€</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-postpone">
            <div>Odložené</div>
          </div>
          <div class="col-md-4">
            {{allMyBudget.postpone.list.length | projectFilterProject}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-error">
            <div>Zrušené</div>
          </div>
          <div class="col-md-4">
            {{allMyBudget.error.list.length | projectFilterProject}}
          </div>
        </div>

      </article>

    {% endfor %}

  </div>