---
layout: layouts/home.njk
eleventyNavigation:
  key: Projekty
  order: 2
---
<div class="paletteA">
  <section class="container vertical">
    {% for post in collections.project | reverse %}
      {% include "project-box.njk" %}
    {% endfor %}
  </section>
</div>