---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - all
  - nav
  - post
  - posts
  - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>ccc Tagged “{{ tag }}”</h1>
{% for post in collections[ tag ] %}
  {% include "project-box.njk" %}
{% endfor %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>