<article class="budget box {{budget.status}}">
  <div class="row">
    <div class="col-md-9">
      <h3>{{ budget.title }}</h3>
    </div>
    <div class="col-md-3 text-right">
      rozpočet <span style="margin-left: 0.5rem" class="amount">{{budget.amountOriginal | value}}€</span>
    </div>
  </div>

  {% if budget.status === 'success' %}
    <div class="row">
      <div class="col-md-6">
        Aktuálne výdavky
        <span class="amount" style="margin-left: 0.5rem">{{budget.amountReal | value}}€</span>
      </div>
      <div class="col-md-6 text-right status-text success">
        <div>Zrealizované {# <i class="fas fa-check-circle text-success"></i> #}</div>
      </div>
    </div>
  {% endif %}

  {% if budget.status === 'inwork' %}
    <div class="row">
      <div class="col-md-6">
        {% if budget.amountReal != 0 %}
        Aktuálne výdavky
        <span class="amount" style="margin-left: 0.5rem">{{budget.amountReal | value}}€</span>
        {% endif %}
      </div>
      {% if budget.amountUpdated != 0 %}
        <div class="col-md-6 text-right">
          <small>Odhadované výdavky</small>
          <span class="amount" style="margin-left: 0.5rem">{{budget.amountUpdated | value}}€</span>
          {% if budget.amountOriginal > budget.amountOriginal %}
            <span class="text-error">
              <i class="fas fa-angle-double-up"></i>
            </span>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if budget.status === 'postpone' %}
    <div class="row">
      <div class="col-md-10">
        {{budget.comment}}
      </div>
      <div class="col-md-2 status-text postpone">
        <div>Odložené {# <i class="fas fa-ban"></i> #}</div>
      </div>
    </div>
  {% endif %}

  {% if budget.status === 'error' %}
    <div class="row">
      <div class="col-md-10">
        {{budget.comment}}
      </div>
      <div class="col-md-2 status-text error text-right">
        <div>Zrušené {# <i class="fas fa-ban"></i> #}</div>
      </div>
    </div>
  {% endif %}

  {% if budget.previous != null %}
    Prenesené predchádzajúcich období
    {% set parentBudget = collections.budgetCollection | budgetFilterById(budget.previous) %}
    <div class="sub">
      <div class="row">
        <div class="col-md-9">
          <strong>{{ parentBudget.title }}</strong> - <small>{{ parentBudget.year }}</small>
        </div>
        <div class="col-md-3 text-right">
      výdavky <span class="amount" style="margin-left: 0.5rem">{{parentBudget.amountReal | value}}€</span>
        </div>
        <div class="col-md-12">
          {{parentBudget.comment}}
        </div>
      </div>
    </div>

  {% endif %}

</article>