<div class="grant col-lg-3 col-md-6 col-sm-6">
  <article class="box h-100 inwork text-center">
      <h3>{{ grant.title }}</h3>
    <p>
      <span class="amount">{{ grant.currentAmount | value }}€</span>
    </p>
    <p>
      {{ grant.currentDetail }}
    </p>
    {% for amount in grant.amount %}
    <div>
      <small>{{amount.amount | value}} ({{amount.year}})</small>
    </div>
    {% endfor %}
  </article>
</div> 