<article class="box inwork">
  <header>
      <h2><a href="{{ post.url | url }}">{{ post.data.title }}</a></h2>
    {% if post.data.amount %}<span class="amount">{{ post.data.amount }}€</span>{% endif %}
  </header>
  <div class="row">
    {%- if post.data.icon -%}
    <div class="col-md-3" style="margin: auto;">
      <img src="{{ post.data.icon }}" class="preview card-img" alt="...">
    </div>
    <div class="col-md-9">
      <p class="card-text">
        {{ post.data.description }}
      </p>
    </div>
    {%- else -%}
    <div class="col-md-12">
      <p class="card-text">
        {{ post.data.description }}
      </p>
    </div>
    {%- endif -%}
  </div>
</article>