<article class="execution box {{ sch.status }}">
    <div class="row">
        <div class="col-md-10">
            <h5 class="status-text {{ sch.status }}">{{ sch.title }}</h5>
            <h3>
                <a href="{{ sch.page.url }}">{{ sch.page.data.title }}</a>
            </h3>
        </div>
        <div class="col-md-2 text-right">
            <span class="status-text {{ sch.status }}">{{sch.description}}</span>
        </div>
    </div>

    <div class="sub">
        {% for sub in sch.sub | reverse %}
            <div class="row">
                <div class="col-md-8">
                    {% if sub.source %}
                        <a href="{{ sub.source }}" target="blank">
                            <span>{{ sub.title }}</span>
                        </a>
                    {% else %}
                        <span>{{ sub.title }}</span>
                    {% endif %}
                </div>

                <div class="col-md-2">
                    {% if sub.date %}
                        <span>{{ sub.date | date}}</span>
                    {% endif %}
                </div>

                <div class="col-md-2 text-right">
                    <span class="status-text {{ sub.status }}">{{ sub.description }}</span>
                </div>

            </div>
        {% endfor %}
    </div>

</article>