---
layout: layouts/home.njk
eleventyNavigation:
  key: Timeline
  order: 2
---
<div class="paletteA">
  <section class="container vertical">
    <header>
      <h1 class="container-title">Časová os projektov</h1>
    </header>
    {% for sch in collections.allMyContent | reverse  %}
      <article class="article timeline {{ sch.status }}">
        <div class="row">
          <div class="col-md-10">
            <div class="header">
              <header class="title">
                <div class="subheader">{{ sch.title }}</div>
                <h3>
                  <a href="{{ sch.page.url }}">
                    {{ sch.page.data.title }}
                  </a>
                </h3>
              </header>
            </div>
          </div>
          <div class="col-md-2 text-right">
            <span class="description">{{sch.description}}</span>
          </div>
        </div>

        <div class="timeline-wrap-sub">
          {% for sub in sch.sub | reverse %}
            <div class="row">
              <div class="col-md-8">
                <div class="timeline-sub {{ sub.status }}">
                  <div class="header">
                    {% if sub.source %}
                      <a href="{{ sub.source }}" target="blank">
                        <span class="title">{{ sub.title }}</span><img class="source" src="/img/external-link.svg" ></a>
                    {% else %}
                      <span class="title">{{ sub.title }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>

              <div class="col-md-2 text-right">
                <span class="date">
                  {% if sub.timeline %}
                    <span class="dateReal">{{ sub.timeline | date}}</span>
                  {% endif %}
                </span>
              </div>

              <div class="col-md-2 text-right {{ sub.status }}">
                <span class="description">{{ sub.description }}</span>
              </div>

            </div>
          {% endfor %}
        </div>

      </article>
    {% endfor %}
  </section>
</div>