---
layout: layouts/home.njk
eleventyNavigation:
  key: Ihriská
  order: 5
---
<div class="paletteB">
  <section class="container vertical">
    <h1>Plán obnovy verejných detských ihrísk</h1>
    <div class="row">
      <div class="col-md-4">
        <figure>
          <a href="img/ihriska/obvod1.jpg">
            <img src="img/ihriska/obvod1.jpg">
          </a>
          <caption>Obvod 1</caption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <a href="img/ihriska/obvod2.jpg">
            <img src="img/ihriska/obvod2.jpg">
          </a>
          <caption>Obvod 2</caption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <a href="img/ihriska/obvod3.jpg">
            <img src="img/ihriska/obvod3.jpg">
          </a>
          <caption>Obvod 3</caption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <a href="img/ihriska/obvod4.jpg">
            <img src="img/ihriska/obvod4.jpg">
          </a>
          <caption>Obvod 4</caption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <a href="img/ihriska/obvod5.jpg">
            <img src="img/ihriska/obvod5.jpg">
          </a>
          <caption>Obvod 5</caption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure>
          <a href="img/ihriska/obvod6.jpg">
            <img src="img/ihriska/obvod6.jpg">
          </a>
          <caption>Obvod 6</caption>
        </figure>
      </div>
    </div>
  </section>
  <section class="container vertical">
    <p>
Petržalka má v súčasnosti v správe 55 verejných detských ihrísk (VDI). Na
základe výsledkov revíznej správy, by takmer všetky ihriská (okrem troch) neprešli
povinnou pravidelnou kontrolou. Z uvedeného dôvodu bude potrebné pristúpiť k postupnej obnove 55
VDI
</P>
    <p>
Harmonogram vychádza z predpokladu, že ročne bude potrebné vyčleniť financie v odhadovanej výške
400-500 tis. eur na revitalizáciu 12 DI (2 DI v každom volebnom obvode). Priemerná odhadovaná
suma na kompletnú obnovu jedného VDI je 40-50 tis. eur s DPH, pričom konečnú sumu
ovplyvňuje viacero faktorov, ktoré sa líšia pri jednotlivých VDI: materiál herných prvkov, 
veľkosť areálu/počet herných prvkov, úprava dopadovej plochy, 
keďže niektoré detské ihriská majú po celej ploche iba asfalt. 
Priemerná suma na obnovu jedného VDI v prípade, že niektoré herné prvky bude
možné opraviť a nebude potrebná ich výmena za nové, bude nižšia ako odhadovaných 40-50 tis.
eur s DPH.
</p>
  </section>

  {% for page in collections.playground %}
    <section class="container vertical">
      <h2>
        Rekonštrukcie v roku {{ page.data.year }}
      </h2>
      {% for play in page.data.playgrounds %}
        <article class="article timeline {{ play.flag | playGroundStatus }}">
          <div class="row">
            <div class="col-md-3">
              <header>
                <h4>
                  {{ play.name }}
                </h4>
              </header>
            </div>
            <div class="col-md-4">
              {{ play.flag | playGroundDescription}}
            </div>
            <div class="col-md-2">
              {{ play.category | playGroundCategory}}
            </div>
            <div class="col-md-3 text-right">
                obvod {{ play.district }}
            </div>
          </div>

        </article>
      {% endfor %}
    </section>
  {% endfor %}
</div>