---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="paletteA">
  <section class="container vertical">
    <header>
      <h1 class="container-title">Časová os</h1>
    </header>
    {% for sch in collections.allMyContent | reverse %}

      <article class="article timeline {{ sch.status }}">
        <div class="row">
          <div class="col-md-10">
            <div class="header">
              <header class="title">
                <div class="subheader">{{ sch.title }}</div>
                <h3><a href="{{ sch.page.url }}">
                  {{ sch.page.data.title }}
                </a></h3>
              </header>
            </div>
            <div class="timeline-wrap-sub">
              {% for sub in sch.sub %}
                <div class="timeline-sub {{ sub.status }}">
                  <div class="header">
                      {% if sub.source %}
                      <a href="{{ sub.source }}" target="blank"><span class="title">{{ sub.title }}</span><img class="source" src="/img/external-link.svg" ></a>
                      {% else %}
                      <span class="title">{{ sub.title }}</span>
                      {% endif %}
                    <span class="date">
                      {% if sub.startExpected %}
                        <span class="dateExpected">{{ sub.startExpected }}</span>
                      {% endif %}
                      {% if sub.startReal %}
                        <span class="dateReal">{{ sub.startReal }}</span>
                      {% endif %}
                      {% if sub.endExpected %}
                        <span class="dateExpected">- {{ sub.endExpected }}</span>
                      {% endif %}
                      {% if sub.endReal %}
                        <span class="dateReal">- {{ sub.endReal }}</span>
                      {% endif %}
                    </span>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-2 text-right">
            <span class="description">{{sch.description}}</span>
          </div>
        </div>
      </article>
    {% endfor %}
  </section>
  <div class="button">
    <a href="projects/">Viac</a>
  </div>
</div>
{# <div class="paletteA">
  <section class="container vertical">
    {% for post in collections.projekt | reverse | head(4) %}
      {% include "postslist.njk" %}
    {% endfor %}
  </section>
  <div class="button">
    <a href="projects/">
      Viac
    </a>
  </div>
</div> #}

<div class="paletteC">
  <section class="container">
    <header>
      <h1 class="container-title">Športové granty</h1>
    </header>
    <div class="flex-wrap c-4 pt-3">
      {% for grantPost in collections.sgrant | head(1) %}
        {% set grants = grantPost.data.list | head(4) %}
        {% for grant in grants %}
          {% include "grantslist.njk" %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
</div>
<div class="paletteC">
  <section class="container">
    <header>
      <h1 class="container-title">Dotácie</h1>
    </header>
    <div class="flex-wrap c-4 pt-3">
      {% for grantPost in collections.ogrant | head(1) %}
        {% set grants = grantPost.data.list | head(4) %}
        {% for grant in grants %}
          {% include "grantslist.njk" %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
  <div class="button">
    <a href="grants">Viac</a>
  </div>
</div>

<div class="paletteB">

  <section class="container vertical">
    <header>
      <h1 class="container-title">Rozpočet</h1>
    </header>
    {% for budget in collections.main %}
      {% include "budgetslist.njk" %}
    {% endfor %}
  </section>
  <div class="button">
    <a href="budget/">Viac</a>
  </div>
</div>