---
layout: layouts/home.njk

---
{% set allMyBudget = collections.allMyBudget %}
<div class="paletteB">
  <section class="container vertical">
    {% set success = allMyBudget.success %}
    <div class="row text-success">
    <div class="col-md-2">
      Zrealizované <i class="fas fa-check-circle"></i>
    </div>
    <div class="col-md-2">
      {{success.list.length}} projektov
    </div>
    <div class="col-md-8">
      Výdavky: {{success.realAmount | value}}
    </div>
    </div>
    {% for budget in success.list %}
      {% include "rozpocetlist.njk" %}
    {% endfor %} 
  </section>

  <section class="container vertical">
    {% set error = allMyBudget.error %}
    <div class="row text-danger">
    <div class="col-md-3">
      Zrušené / Odložené <i class="fas fa-ban"></i>
    </div>
    <div class="col-md-2">
      {{error.list.length}} projektov
    </div>
    </div>
    {% for budget in error.list %}
      {% include "rozpocetlist.njk" %}
    {% endfor %} 
  </section>

  <section class="container vertical">
    {% set inwork = allMyBudget.inwork %}
    <div class="row" style="color: #0d47a1 !important;">
    <div class="col-md-2">
      Realizuje sa
    </div>
    <div class="col-md-2">
      {{inwork.list.length}} projektov
    </div>
    <div class="col-md-4">
      Aktuálne výdavky: {{inwork.realAmount | value}}
    </div>
    <div class="col-md-4">
      Plánované výdavky: {{inwork.amount | value}}
    </div>
    </div>
    {% for budget in inwork.list %}
      {% include "rozpocetlist.njk" %}
    {% endfor %} 
  </section>


</div>